.searchResults li {
    list-style-type: none;
}

.searchResults {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    display: none;
}

.navbar {
    opacity: 1.0;
    position: sticky;
    z-index: 1111;
}